<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to NLP App</h2>
        <p>Please select an action:</p>
        <div class="actions">
            <a href="/question_answering" class="action-button">Question Answering</a>
            <a href="/document_summarizing" class="action-button">Document Summarizing</a>
            <a href="/topics" class="action-button">Topics Extractor</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
